{% extends 'admin.html.twig' %}
{% block content %}
<h1 class="h1 mb-2 font-weight-bold text-gray-800"><i class="fas fa-fw fa-user-add"></i> &nbsp;{% trans %}Ver / Editar Usuario{% endtrans %}</h1>
<hr/>
{% for msg in msg_success %}
<div class="alert alert-success border-bottom-success font-weight-bold"><i class="fa fa-check fa-fw"></i> &nbsp;{{msg}}</div>
{% endfor %}
<div class="card shadow ">

  {{ form_start(form) }}

  <div class="my-custom-class-for-errors">
       {{ form_errors(form) }}
   </div>

  <!-- Header: Datos de usuario -->
  <div class="card-header">
    <h6 class="m-0 font-weight-bold text-primary">{% trans %}Datos de Usuario{% endtrans %}</h6>
  </div><!-- END Header: Datos de usuario -->

  <!-- Body: Datos de usuario -->
  <div class="card-body">
    <div class="row">

      <!-- Nombre -->
      <div class="col-md-6">
        <div class="form-group">
          <label for="usuario_form_nombre" class="h6 text-uppercase font-weight-bold text-gray-900"><i class="fas fa-fw fa-user"></i> &nbsp;{% trans %}Nombre{% endtrans %}</label>
          {{form_widget(form.nombre, {attr:{class:'form-control'}})}}
        </div>
      </div><!-- END Nombre -->

      <!-- Apellidos -->
      <div class="col-md-6">
        <div class="form-group">
          <label for="usuario_form_apellidos" class="h6 text-uppercase font-weight-bold text-gray-900"><i class="fas fa-fw fa-user"></i> &nbsp;{% trans %}Apellidos{% endtrans %}</label>
          {{form_widget(form.apellidos, {attr:{class:'form-control'}})}}
        </div>
      </div><!-- END Apellidos -->

      <!-- Email -->
      <div class="col-md-6">
        <div class="form-group">
          <label for="usuario_form_email" class="h6 text-uppercase font-weight-bold text-gray-900"><i class="fas fa-fw fa-envelope"></i> &nbsp;{% trans %}Email{% endtrans %}</label>
            {% if form.email.vars.errors | length > 0 %}<div class="alert alert-danger">{{form_errors(form.email)}}</div>{% endif %}
          {{form_widget(form.email, {attr:{class:'form-control'}})}}
        </div>
      </div><!-- End Email -->

      <div class="col-md-6">
        <label class="h6 text-uppercase font-weight-bold text-gray-900"><i class="fas fa-fw fa-key"></i> &nbsp;{% trans %}Cambiar Contraseña{% endtrans %}</label>
        <a href="{{path("cambiarpassword",{"id":userid})}}" class="d-block btn btn-info"><i class="fas fa-key"></i> &nbsp;{% trans %}Cambiar Contraseña{% endtrans %}</a>

      </div>

    </div><!-- END ROW -->
  </div><!-- END Body: Datos de usuario -->

  <!-- Header: Roles -->
  <div class="card-header border-top">
    <h6 class="m-0 font-weight-bold text-primary">{% trans %}Roles{% endtrans %}</h6>
  </div><!-- END Header: Roles -->

  <!-- Body: Roles -->
  <div class="card-body">

    <div class="row">

      <div class="col-md-4">
        <div class="custom-control custom-switch custom-switch-inline">
          <input type="checkbox" class="custom-control-input" name="rol_admin" id="rol_admin" {{ ('ROLE_ADMIN' in roles ? 'checked' : '')}} {{(is_granted('ROLE_SUPER_ADMIN') ? '' : 'disabled')}}>
          <label class="custom-control-label" for="rol_admin">Administrador</label>
        </div>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-sm-6">{{form_widget(form.save, {attr:{class:'btn btn-primary btn-lg btn-block'}})}}</div>
      <div class="col-sm-6"><a href="{{path("listausuarios")}}" class="btn btn-danger btn-block text-white btn-lg">{% trans %}Cancelar{% endtrans %}</a></div>
    </div>

  </div><!-- END Body: Roles -->
  {{ form_widget(form) }}
  {{ form_end(form) }}

</div><!-- END: .card .shadow-->

{% endblock %}
