{% extends 'admin.html.twig' %}
{% block stylesheets %}
{{parent()}}
  <link href="{{asset('vendor/datatables/dataTables.bootstrap4.min.css')}}" rel="stylesheet">
{% endblock %}
{% block javascripts %}
{{parent()}}
<script src="{{asset('vendor/datatables/jquery.dataTables.min.js')}}"></script>
<script src="{{asset('vendor/datatables/dataTables.bootstrap4.min.js')}}"></script>
<script>
$("#tablaIngresos").dataTable({"order":[[ 0, "desc"]],"language":{"url":"{{asset('vendor/datatables/')}}{{ app.request.locale }}.json"}})
</script>
{% endblock %}
{% block content %}
  <h1 class="h1 mb-2 font-weight-bold text-gray-800"><i class="fas fa-fw fa-receipt"></i> &nbsp;{{title_h1}}</h1>
<hr/>
  <a href="{{url_nuevo}}" class="btn btn-primary btn-icon-split mb-3">
    <span class="icon text-white-50">
      <i class="fas fa-plus"></i>
    </span>
    <span class="text">{% trans %}Añadir Nuevo{% endtrans %}</span>
  </a>

  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">{% trans %}Gastos{% endtrans %}</h6>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" id="tablaIngresos" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>{% trans %}Fecha{% endtrans %}</th>
              <th>{% trans %}Empresa{% endtrans %}</th>
              <th>{% trans %}Descripcion{% endtrans %}</th>
              <th>{% trans %}Cantidad{% endtrans %}</th>
              <th>{% trans %}Factura{% endtrans %}</th>
              <th class="text-center">{% trans %}Opciones{% endtrans %}</th>
            </tr>
          </thead>
          <tbody>
            {% for ingreso in ingresos %}
            <tr>
              <td>{{ingreso.fecha | date('d/m/Y')}}</td>
              <td>{{ingreso.empresa.nombrecomercial}}</td>
              <td>{{ingreso.descripcion}}</td>
              <td>{{ingreso.cantidad}} €</td>
              <td>
                {% if ingreso.factura %}
                  <a href="{{path("ver_factura",{'id':ingreso.factura.id})}}">{{ingreso.factura.serie}}/{{ingreso.factura.numerofactura}}</a>
                {% else %}
                  -
                {% endif %}
              </td>
              <td>
                <a href="{{path('ver_editar_ingreso',{'id':ingreso.id})}}" class="btn btn-primary btn-icon-split btn-sm"><span class="icon text-white"><i class="fas fa-fw fa-eye"></i></span><span class="text">Ver</span></a>
                <button data-toggle="modal" data-target="#eliminar_ingreso_{{ingreso.id}}" type="button" class="btn btn-danger btn-icon-split btn-sm"><span class="icon text-white"><i class="fas fa-fw fa-eye"></i></span><span class="text">{% trans %}Eliminar{% endtrans %}</span></button>
                <!-- Modal -->
                <div class="modal fade text-center" id="eliminar_ingreso_{{ingreso.id}}" tabindex="-1" role="dialog" aria-labelledby="eliminar_ingreso_{{ingreso.id}}_label" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="eliminar_ingreso_{{ingreso.id}}_label">{% trans %}Eliminar ingreso{% endtrans %} {{ingreso.descripcion}}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <div class="alert alert-danger">
                            <p class="text-danger">{% trans %}¿Estás seguro de que deseas eliminar el siguiente ingreso?{% endtrans %}</p>
                            <p class="text-danger">
                              Descripción: <b>{{ingreso.descripcion}}</b><br>
                              Importe: <b>{{ingreso.cantidad}} €</b>

                            </p>
                        </div>
                      </div>
                      <div class="modal-footer">
                        <a href="{{path('eliminar_ingreso',{'id':ingreso.id})}}" class="btn btn-danger"><i class="fa fa-exclamation-triangle"></i>&nbsp; {% trans %}Eliminar Ingreso{% endtrans %}</a>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                      </div>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock %}
