{% extends 'admin.html.twig' %}
{% block content %}
<h1 class="h3 mb-2 font-weight-bold text-gray-800"><i class="fas fa-fw fa-columns"></i> &nbsp;{{title}}</h1>
<hr/>
<div class="row">
  <div class="col-md-12">
    {% for oportunidad in oportunidades %}

      <div class="card p-4 text-gray-800 mt-4">
        <div class="row">
          <div class="col-md-3"><b class="d-block">Titulo:</b>{{oportunidad.nombre}}</div>
          <div class="col-md-3"><b class="d-block">Fecha:</b>{{oportunidad.fechaCreacion | date('d/M/Y')}}</div>
          <div class="col-md-3"><b class="d-block">Responsable:</b>{{oportunidad.responsable.email}}</div>
          <div class="col-md-3"><b class="d-block">Cliente:</b>{{oportunidad.cliente.nombreComercial}}</div>
        </div>
        
        <div class="row mt-3">
          <div class="col-md-3">
            <b class="d-block">Estado:</b>
            {% if oportunidad.ganada %}<span class="text-success"><i class="fa fa-thumbs-up"></i> Ganada</span>
            {% elseif oportunidad.perdida  %}<span class="text-danger"><i class="fa fa-thumbs-down"></i> Perdida</span>
            {% else %}<span class="text-info"><i class="fa fa-asterisk"></i> En Panel Kanban</span>
            {% endif %}
          </div>
          <div class="col-md-3"><b class="d-block">Ingreso Estimado:</b>{{oportunidad.ingresoEstimado | number_format(2)}} €</div>
          <div class="col-md-3"><b class="d-block">Porcentaje Estimado:</b>{{oportunidad.porcentajeExitoEstimado*100 | number_format(2)}} %</div>
          <div class="col-md-3"><b class="d-block mb-1">Opciones:</b>

            <a href="{{path('ver_editar_oportunidad_venta',{'id':oportunidad.id})}}" class="btn btn-circle btn-primary btn-sm"><i class="fa fa-fw fa-edit"></i></a>
            <a href="#" class="btn btn-circle btn-info btn-sm"><i class="fa fa-fw fa-file"></i></a>
            <a href="#" class="btn btn-circle btn-danger btn-sm mr-1"><i class="fa fa-fw fa-trash"></i></a>
          </div>
        </div>

        <div class="row mt-3">
          <div class="col-md-6"><b class="d-block">Descripcion</b>{{oportunidad.descripcion}}</div>

        </div>
      </div>
    {% endfor %}
  </div>
</div>

{% endblock %}
