<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Presupuesto {{presupuesto.numeropresupuesto}}</title>
        <style>

          table{
            border:1px solid black;
            border-collapse: collapse;
          }

          table tr td{
            padding:10px;
          }
        </style>

    </head>
    <body>
        <table style="width:100%;border:none;font-size:.9em">
          <tr>
            <td style="width:50%">LOGO</td>
            <td style="width:50%;text-align:right;">  {{presupuesto.fechaEmision | date('d/m/Y')}}<br/>{{presupuesto.numeropresupuesto}}</td>
          </tr>
        </table>

          <table style="width:100%;border:none;font-size:.8em;margin-top:30px;margin-bottom:75px;">
            <tr>
              <td style="border:1px dotted #333;width:45%;">
                <b>{{presupuesto.empresa.nif}}</b><br />
                {{presupuesto.empresa.razonsocial}}<br/>
                {{presupuesto.empresa.direccion}}<br />
                {{presupuesto.empresa.codigopostal}} - {{presupuesto.empresa.provincia}}<br />
                {{presupuesto.empresa.pais}}
              </td>
              <td></td>
              <td style="border:1px dotted #333;width:45%">
                <b>{{presupuesto.cliente.nif}}</b><br />
                {{presupuesto.cliente.razonsocial}}<br/>
                {{presupuesto.cliente.direccion}}<br />
                {{presupuesto.cliente.codigopostal}} - {{presupuesto.cliente.provincia}}<br />
                {{presupuesto.cliente.pais}}
              </td>
            </tr>
          </table>



        <table style="width:100%;font-size:.75em">
          <tr style="background:black;color:white;">
              <th style="padding:10px; width:10%">{% trans %}Cantidad{% endtrans %}</th>
              <th style="padding:10px; width:45%">{% trans %}Concepto{% endtrans %}</th>
              <th style="padding:10px; width:10%">{% trans %}Precio{% endtrans %}</th>
              <th style="padding:10px; width:10%">{% trans %}Desc.{% endtrans %}</th>
              <th style="padding:10px; width:10%">{% trans %}IVA{% endtrans %}</th>
              <th style="padding:10px; width:15%">{% trans %}TOTAL{% endtrans %}</th>
          </tr>
          {% for linea in presupuesto.lineas %}
          <tr>
            <td>{{linea.cantidad}}</td>
            <td>{{linea.concepto}}</td>
            <td>{{linea.precio | number_format(2)}} €</td>
            <td>{{linea.descuento| number_format(2)}} €</td>
            <td>{{linea.iva*100}} %</td>
            <td>{{linea.total | number_format(2)}} €</td>
          </tr>

          {% endfor %}
          <tr><td style="background-color:black" colspan="6"></td></tr>
          <tr>
            <td style="border-top:1px solid black;" colspan="2"></td>
            <td style="text-align:right;border-top:1px solid black;" colspan="2">Subtotal:</td>
            <td style="text-align:right;border-top:1px solid black;" colspan="2">{{presupuesto.subtotal | number_format(2)}} €</td>
          </tr>
          <tr  style="text-align:right">
            <td colspan="2"></td>
            <td colspan="2">{% trans %}IVA{% endtrans %}:</td>
            <td colspan="2">{{presupuesto.iva | number_format(2)}} €</td>
          </tr>
          <tr style="text-align:right">
            <td colspan="2"></td>
            <td colspan="2">{% trans %}TOTAL{% endtrans %}:</td>
            <td colspan="2"><b>{{presupuesto.total | number_format(2)}} €</b></td>
          </tr>
        </table>
        <p style="font-size:.8em;text-align:center;margin-top:50px;">{% trans %}Este presupuesto tiene una validez de{% endtrans %} <b>{{presupuesto.diasvalidez}} {% trans %}dias{% endtrans %}</b> {% trans %}desde la fecha de emision{% endtrans %} <i>({{presupuesto.fechaemision | date_modify("+" ~ presupuesto.diasvalidez ~" day")| date('d/m/Y')}})</i></p>

    </body>
</html>
