<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
  <!-- Mostrar / Ocultar sidebar -->
  <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
    <i class="fa fa-bars"></i>
  </button>
  <!-- Topbar Navbar -->
  <ul class="navbar-nav ml-auto">
    <li class="nav-item dropdown no-arrow">
      {% if app.request.locale == 'gl' %}
        <span class="nav-link  {{(app.request.locale == 'gl'?'text-primary':'text-secondary')}}">{% trans %}Galego{% endtrans %}</span>
      {% else %}
        <a href="{{absolute_url('/gl/clientes')}}" class="nav-link {{(app.request.locale == 'gl'?'text-primary':'text-secondary')}}">{% trans %}Galego{% endtrans %}</a>
      {% endif %}
    </li>
    <li class="nav-item dropdown no-arrow">
      {% if app.request.locale == 'es' %}
        <span class="nav-link {{(app.request.locale == 'es'?'text-primary':'text-secondary')}}">{% trans %}Castellano{% endtrans %}</span>
      {% else %}
        <a href="{{absolute_url('/es/clientes')}}" class="nav-link {{(app.request.locale == 'es'?'text-primary':'text-secondary')}}">{% trans %}Castellano{% endtrans %}</a>
      {% endif %}
    </li>
    <div class="topbar-divider d-none d-sm-block"></div>
    <!-- Nav Item - Información del usuario -->
    <li class="nav-item dropdown no-arrow">
      <a class="nav-link dropdown-toggle" href="#" id="perfilusuariodropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{app.user.nombre}} {{app.user.apellidos}}</span>
        <img class="img-profile rounded-circle" src="https://ui-avatars.com/api/?background=4e73df&bold=true&font-size=.6&color=fff&name={{app.user.nombre}}+{{app.user.apellidos|replace({' ': ''})}}">
      </a>
      <!-- Dropdown - Información del usuario-->
      <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="perfilusuariodropdown">
        <!--a class="dropdown-item" href="#">
          <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
          {% trans %}Mi perfil{% endtrans %}
        </a-->
        <!--div class="dropdown-divider"></div-->
        <a class="dropdown-item" href="{{path('app_logout')}}">
          <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
          {% trans %}Cerrar Sesión{% endtrans %}
        </a>
      </div>
    </li>
  </ul>
</nav>
